body{
    background-color: #393E46;
    margin: 8px;
}

.container{
    text-align: center;
    width: 70%;
    margin: auto;
}

.title{
    font-family: Lobster;
    font-weight: 900;
    font-size: 8rem;
    margin: 40px 30px 30px;
    color: #4ECCA3;
}

.dice{
    font-family: 'Indie Flower';
    font-weight: 400;
    font-size: 2rem;
    display: inline-block;
    color: #4ECCA3;
    margin: 30px 0;
}

.footer{
    font-family: 'Indie Flower';
    color: #fff;
    margin: 2%;
    text-align: center;
}